.deriv-helper-message {
    font-size: var(--du-text-size-sm, 12px);
    line-height: var(--du-text-lh-2xs, 8px);
    font-style: normal;
    font-weight: var(--du-text-weight-normal, 400);
    color: var(--du-text-primary, #999999);
    &--general {
        color: var(--du-text-less-prominent, #999999);
    }
    &--success {
        color: var(--du-text-profit-success, #4bb4b3);
    }
    &--warning {
        color: var(--du-text-warning, #ffad3a);
    }
    &--error {
        color: var(--du-text-red, #ff444f);
    }
}
