$input-borders: (
    "general": var(--du-state-active, #d6dadb),
    "hover": var(--du-border-hover, #999999),
    "active": var(--du-brand-secondary, #85acb0),
    "success": var(--du-status-success, #4bb4b3),
    "error": var(--du-status-danger, #ec3f3f),
);

$label-colors: (
    "general": var(--du-border-hover, #999999),
    "active": var(--du-brand-secondary, #85acb0),
    "error": var(--du-status-danger, #ec3f3f),
    "success": var(--du-status-success, #4bb4b3),
    "disabled": var(--du-state-active, #d6dadb),
);

$border: 1px solid;
$input-placement: 16px;

.deriv-input__container {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 328px;

    &--full {
        width: 100%;
    }
}

.deriv-input {
    display: inline-flex;
    position: relative;
    border-radius: $border-radius;
    width: 100%;
    text-align: left;
    padding: 10px 16px;
    border: $border;
    font-size: var(--du-text-size-default, 14px);
    color: var(--du-text-prominent, #333333);

    &--general {
        border-color: map-get($input-borders, "general");
        &:hover:not(:disabled):not(:focus-within) {
            border-color: map-get($input-borders, "hover");
        }
        &:focus-within {
            border-color: map-get($input-borders, "active");
        }
    }
    &--error {
        border-color: map-get($input-borders, "error");
    }
    &--success {
        border-color: map-get($input-borders, "success");
    }
    &--active {
        border-color: map-get($input-borders, "active");
    }
    &--disabled {
        border-color: map-get($input-borders, "general");
        cursor: not-allowed;
        opacity: 0.8;
    }

    &__field {
        width: 100%;
        outline: none;
        &::placeholder {
            visibility: hidden;
        }
        &:focus,
        &:not(:placeholder-shown) {
            & ~ label {
                font-size: var(--du-text-size-xs, 10px);
                transform: translate(0, -50%);
                background-color: var(--du-general-main-1, #ffffff);
                padding: 0 4px;
                height: fit-content;
            }
        }
    }
    &--label-animation-disabled {
        width: 100%;
        outline: none;
        &::placeholder {
            visibility: hidden;
        }
        &:focus,
        &:not(:placeholder-shown) {
            & ~ label {
                visibility: hidden;
            }
        }
    }

    &__label {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0;
        left: $input-placement;
        display: flex;
        align-items: center;
        pointer-events: none;
        transition: all 0.15s ease-out;
        font-size: var(--du-text-size-default, 14px);
        &--general {
            color: map-get($label-colors, "general");
        }
        &--error {
            color: map-get($label-colors, "error");
        }
        &--success {
            color: map-get($label-colors, "success");
        }
        &--active {
            color: map-get($label-colors, "active");
        }

        &--disabled {
            color: map-get($label-colors, "disabled");
        }
    }

    &__left-content {
        margin-right: 8px;
    }

    &__right-content {
        margin-left: $input-placement;
    }

    &__helper-message {
        position: absolute;
        top: 100%;
    }
}

.deriv-input--general .deriv-input__field:disabled + .deriv-input__label,
.deriv-input--error .deriv-input__field:disabled + .deriv-input__label,
.deriv-input--success .deriv-input__field:disabled + .deriv-input__label {
    color: map-get($label-colors, "disabled");
}

.deriv-input--general .deriv-input__field:focus + .deriv-input__label {
    color: map-get($label-colors, "active");
}

.deriv-input--error .deriv-input__field:focus + .deriv-input__label {
    color: map-get($label-colors, "error");
}

.deriv-input--success .deriv-input__field:focus + .deriv-input__label {
    color: map-get($label-colors, "success");
}

.deriv-input__helper-message {
    padding: 2px 0 0 16px;
    height: 20px;
    width: 100%;
}
