$font-color-white: var(--du-badge-white, #ffffff);
$font-color-gray: var(--du-text-general, #868686);
$success_color_border: var(--du-badge-success, #4bb4b3);
$success-secondary_color_border: var(--du-badge-success-secondary, #007a22);
$warning_color_border: var(--du-badge-warning, #ffad3a);
$warning-secondary_color_border: var(--du-badge-warning-secondary, #c47d00);
$white_color: linear-gradient(#e6e9e9, #f2f3f4);
$success_color: $gradient-color-blue-5;
$success-secondary_color: var(
    --du-transparent-success-secondary,
    $alpha-color-green-3
);
$warning_color: $gradient-color-yellow;
$warning-secondary_color: var(
    --du-transparent-warning-secondary,
    $alpha-color-yellow-2
);
$danger_color: var(--du-badge-danger, #ec3f3f);
$danger-secondary_color: var(
    --du-transparent-danger-secondary,
    $alpha-color-red-4
);
$danger-secondary_color_border: var(--du-badge-danger-secondary, #c40000);
$blue_color: var(--du-badge-blue, #115bff);
$blue-secondary_color: var(
    --du-transparent-blue-secondary,
    $alpha-color-blue-4
);
$blue-secondary_color_border: var(--du-badge-blue-secondary, #0777c4);
$purple_color: var(--du-badge-purple, #722fe4);
$light_blue_color: var(--du-badge-light-blue, #0dc2e7);
$gold_color: $gradient-color-gold;
$gold_color_border: $color_yellow;
$green_color: $gradient-color-green-4;
$green_color_border: $color-green-6;

.deriv-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__size {
        &--tight {
            &.deriv-badge__padding--xs {
                width: auto;
                height: 12px;
                gap: 4px;
                padding: 0 4px 0 4px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--sm {
                width: auto;
                height: 20px;
                gap: 4px;
                padding: 4px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--md {
                width: auto;
                height: 22px;
                gap: 4px;
                padding: 4px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--lg {
                width: auto;
                height: 24px;
                gap: 4px;
                padding: 3px 4px 3px 4px;
                border-radius: 4px;
            }
        }

        &--loose {
            &.deriv-badge__padding--xs {
                width: auto;
                height: 12px;
                gap: 8px;
                padding: 0 8px 0 8px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--sm {
                width: auto;
                height: 20px;
                gap: 8px;
                padding: 4px 8px 4px 8px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--md {
                width: auto;
                height: 22px;
                gap: 8px;
                padding: 4px 8px 4px 8px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--lg {
                width: auto;
                height: 24px;
                gap: 8px;
                padding: 3px 8px 3px 8px;
                border-radius: 4px;
            }
        }
    }

    &__variant {
        &--contained {
            border: none;

            &.deriv-badge__color--general {
                background-image: $white_color;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--lightblue {
                background-color: $light_blue_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--success {
                background-image: $success_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--success-secondary {
                background: $success-secondary_color;

                span {
                    color: $success-secondary_color_border;
                }
            }

            &.deriv-badge__color--warning-secondary {
                background: $warning-secondary_color;

                span {
                    color: $warning-secondary_color_border;
                }
            }

            &.deriv-badge__color--danger {
                background-color: $danger_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--danger-secondary {
                background: $danger-secondary_color;

                span {
                    color: $danger-secondary_color_border;
                }
            }

            &.deriv-badge__color--blue {
                background-color: $blue_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--blue-secondary {
                background: $blue-secondary_color;

                span {
                    color: $blue-secondary_color_border;
                }
            }

            &.deriv-badge__color--purple {
                background-color: $purple_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--gold {
                background-image: $gold_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--green {
                background-image: $green_color;

                span {
                    color: $font-color-white;
                }
            }
        }

        &--bordered {
            border: solid 1px;
            background: none;

            &.deriv-badge__color--general {
                border-color: $font-color-gray;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--lightblue {
                border-color: $light_blue_color;

                span {
                    color: $light_blue_color;
                }
            }

            &.deriv-badge__color--success {
                border-color: $success_color_border;

                span {
                    color: $success_color_border;
                }
            }

            &.deriv-badge__color--success-secondary {
                border-color: $success-secondary_color_border;

                span {
                    color: $success-secondary_color_border;
                }
            }

            &.deriv-badge__color--warning {
                border-color: $warning_color_border;

                span {
                    color: $warning_color_border;
                }
            }

            &.deriv-badge__color--warning-secondary {
                border-color: $warning-secondary_color_border;

                span {
                    color: $warning-secondary_color_border;
                }
            }

            &.deriv-badge__color--danger {
                border-color: $danger_color;

                span {
                    color: $danger_color;
                }
            }

            &.deriv-badge__color--danger-secondary {
                border-color: $danger-secondary_color_border;

                span {
                    color: $danger-secondary_color_border;
                }
            }

            &.deriv-badge__color--blue-secondary {
                border-color: $blue-secondary_color_border;

                span {
                    color: $blue-secondary_color_border;
                }
            }

            &.deriv-badge__color--purple {
                border-color: $purple_color;

                span {
                    color: $purple_color;
                }
            }

            &.deriv-badge__color--gold {
                border-color: $gold_color_border;

                span {
                    color: $gold_color_border;
                }
            }

            &.deriv-badge__color--green {
                border-color: $green_color_border;

                span {
                    color: $green_color_border;
                }
            }
        }

        &--bold-text {
            text {
                font-weight: bold;
            }
        }
    }

    &__rounded {
        &--sm {
            border-radius: 4px;
        }

        &--md {
            border-radius: 8px;
        }

        &--lg {
            border-radius: 24px;
        }
    }
}

@include desktop {
    .deriv-badge {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &__size {
            &--tight {
                &.deriv-badge__padding--xs {
                    width: auto;
                    height: 14px;
                    gap: 4px;
                    padding: 0 4px 0 4px;
                    border-radius: 4px;
                }

                &.deriv-badge__padding--sm {
                    width: auto;
                    height: 24px;
                    gap: 4px;
                    padding: 5px 4px 5px 4px;
                    border-radius: 4px;
                }

                &.deriv-badge__padding--md {
                    width: auto;
                    height: 26px;
                    gap: 4px;
                    padding: 4px 4px 4px 4px;
                    border-radius: 4px;
                }

                &.deriv-badge__padding--lg {
                    width: auto;
                    height: 28px;
                    gap: 4px;
                    padding: 4px 4px 4px 4px;
                    border-radius: 4px;
                }
            }

            &--loose {
                &.deriv-badge__padding--xs {
                    width: auto;
                    height: 14px;
                    gap: 8px;
                    padding: 0 8px 0 8px;
                    border-radius: 4px;
                }

                &.deriv-badge__padding--sm {
                    width: auto;
                    height: 24px;
                    gap: 8px;
                    padding: 5px 8px 5px 8px;
                    border-radius: 4px;
                }

                &.deriv-badge__padding--md {
                    width: auto;
                    height: 26px;
                    gap: 8px;
                    padding: 4px 8px 4px 8px;
                    border-radius: 4px;
                }

                &.deriv-badge__padding--lg {
                    width: auto;
                    height: 28px;
                    gap: 8px;
                    padding: 4px 8px 4px 8px;
                    border-radius: 4px;
                }
            }
        }

        &__variant {
            &--contained {
                border: none;

                &.deriv-badge__color--general {
                    background-image: $white_color;

                    span {
                        color: $font-color-gray;
                    }
                }

                &.deriv-badge__color--lightblue {
                    background-color: $light_blue_color;

                    span {
                        color: $font-color-white;
                    }
                }

                &.deriv-badge__color--success {
                    background-image: $success_color;

                    span {
                        color: $font-color-white;
                    }
                }

                &.deriv-badge__color--success-secondary {
                    background-image: $success-secondary_color;

                    span {
                        color: $success-secondary_color_border;
                    }
                }

                &.deriv-badge__color--warning {
                    background-image: $warning_color;

                    span {
                        color: $font-color-white;
                    }
                }

                &.deriv-badge__color--warning-secondary {
                    background: $warning-secondary_color;

                    span {
                        color: $warning-secondary_color_border;
                    }
                }

                &.deriv-badge__color--danger {
                    background-color: $danger_color;

                    span {
                        color: $font-color-white;
                    }
                }

                &.deriv-badge__color--danger-secondary {
                    background: $danger-secondary_color;

                    span {
                        color: $danger-secondary_color_border;
                    }
                }

                &.deriv-badge__color--blue {
                    background-color: $blue_color;

                    span {
                        color: $font-color-white;
                    }
                }

                &.deriv-badge__color--blue-secondary {
                    background: $blue-secondary_color;

                    span {
                        color: $blue-secondary_color_border;
                    }
                }

                &.deriv-badge__color--purple {
                    background-color: $purple_color;

                    span {
                        color: $font-color-white;
                    }
                }

                &.deriv-badge__color--gold {
                    background-image: $gold_color;

                    span {
                        color: $font-color-white;
                    }
                }

                &.deriv-badge__color--green {
                    background-image: $green_color;

                    span {
                        color: $font-color-white;
                    }
                }
            }

            &--bordered {
                border: solid 1px;
                background: none;

                &.deriv-badge__color--general {
                    border-color: $font-color-gray;

                    span {
                        color: $font-color-gray;
                    }
                }

                &.deriv-badge__color--lightblue {
                    border-color: $light_blue_color;

                    span {
                        color: $light_blue_color;
                    }
                }

                &.deriv-badge__color--success {
                    border-color: $success_color_border;

                    span {
                        color: $success_color_border;
                    }
                }

                &.deriv-badge__color--success-secondary {
                    border-color: $success-secondary_color_border;

                    span {
                        color: $success-secondary_color_border;
                    }
                }

                &.deriv-badge__color--warning {
                    border-color: $warning_color_border;

                    span {
                        color: $warning_color_border;
                    }
                }

                &.deriv-badge__color--warning-secondary {
                    border-color: $warning-secondary_color_border;

                    span {
                        color: $warning-secondary_color_border;
                    }
                }

                &.deriv-badge__color--danger {
                    border-color: $danger_color;

                    span {
                        color: $danger_color;
                    }
                }

                &.deriv-badge__color--danger-secondary {
                    border-color: $danger-secondary_color_border;

                    span {
                        color: $danger-secondary_color_border;
                    }
                }

                &.deriv-badge__color--blue {
                    border-color: $blue_color;

                    span {
                        color: $blue_color;
                    }
                }

                &.deriv-badge__color--blue-secondary {
                    border-color: $blue-secondary_color_border;

                    span {
                        color: $blue-secondary_color_border;
                    }
                }

                &.deriv-badge__color--purple {
                    border-color: $purple_color;

                    span {
                        color: $purple_color;
                    }
                }

                &.deriv-badge__color--gold {
                    border-color: $gold_color_border;

                    span {
                        color: $gold_color_border;
                    }
                }

                &.deriv-badge__color--green {
                    border-color: $green_color_border;

                    span {
                        color: $green_color_border;
                    }
                }
            }

            &--bold-text {
                text {
                    font-weight: bold;
                }
            }
        }

        &__rounded {
            &--sm {
                border-radius: 4px;
            }

            &--md {
                border-radius: 8px;
            }

            &--lg {
                border-radius: 24px;
            }
        }
    }
}
