$font-color-white:var(--du-badge-white,#ffffff);
$font-color-gray:var( --du-text-general,#868686);
$success_color_border: var(--du-badge-success, #4bb4b3);
$warning_color_border: var(--du-badge-warning, #ffad3a);
$white_color: linear-gradient(#e6e9e9,#f2f3f4);
$success_color: $gradient-color-blue-5;
$warning_color: $gradient-color-yellow;
$danger_color: var(--du-badge-danger, #ec3f3f);
$blue_color: var(--du-badge-blue, #115BFF);
$purple_color: var(--du-badge-purple, #722FE4);
$light_blue_color: var(--du-badge-light-blue, #0DC2E7);
$gold_color:$gradient-color-gold;
$gold_color_border:$color_yellow;
$green_color:$gradient-color-green-4;
$green_color_border:$color-green-6;

.deriv-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__size {
        &--tight {
            &.deriv-badge__padding--xs {
                width: 34px;
                height: 14px;
                gap: 4px;
                padding: 0 4px 0 4px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--sm {
                width: 34px;
                height: 24px;
                gap: 4px;
                padding: 5px 4px 5px 4px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--md {
                width: 39px;
                height: 26px;
                gap: 4px;
                padding: 4px 4px 4px 4px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--lg {
                width: 39px;
                height: 28px;
                gap: 4px;
                padding: 4px 4px 4px 4px;
                border-radius: 4px;
            }
        }

        &--loose {
            &.deriv-badge__padding--xs {
                width: 42px;
                height: 14px;
                gap: 8px;
                padding: 0 8px 0 8px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--sm {
                width: 42px;
                height: 24px;
                gap: 8px;
                padding: 5px 8px 5px 8px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--md {
                width: 47px;
                height: 26px;
                gap: 8px;
                padding: 4px 8px 4px 8px;
                border-radius: 4px;
            }

            &.deriv-badge__padding--lg {
                width: 53px;
                height: 28px;
                gap: 8px;
                padding: 4px 8px 4px 8px;
                border-radius: 4px;
            }
        }
    }

    &__variant {
        &--contained {
            border: none;

            &.deriv-badge__color--general {
                background-image: $white_color;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--lightblue {
                background-color: $light_blue_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--success {
                background-image: $success_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--warning {
                background-image: $warning_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--danger {
                background-color: $danger_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--blue {
                background-color: $blue_color;

                span {
                    color: $font-color-white;
                }
            }

            &.deriv-badge__color--purple {
                background-color: $purple_color;

                span {
                    color: $font-color-white;
                }
            }
            &.deriv-badge__color--gold {
                background-image: $gold_color;

                span {
                    color: $font-color-white;
                }
            }
            &.deriv-badge__color--green {
                background-image: $green_color;

                span {
                    color: $font-color-white;
                }
            }
        }

        &--bordered {
            border-style: solid;
            background: none;

            &.deriv-badge__color--general {
                border-color: $font-color-gray;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--lightblue {
                border-color: $light_blue_color;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--success {
                border-color: $success_color_border;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--warning {
                border-color: $warning_color_border;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--danger {
                border-color: $danger_color;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--blue {
                border-color: $blue_color;

                span {
                    color: $font-color-gray;
                }
            }

            &.deriv-badge__color--purple {
                border-color: $purple_color;

                span {
                    color: $font-color-gray;
                }
            }
            &.deriv-badge__color--gold {
                border-color: $gold_color_border;

                span {
                    color: $font-color-gray;
                }
            }
            &.deriv-badge__color--green {
                border-color: $green_color_border;

                span {
                    color: $font-color-gray;
                }
            }

        }

        &--bold-text {
            text {
                font-weight: bold;
            }
        }
    }

}
