$primary: #ff444f;
$primary-light: #ff444f29;
$white: #fff;
$black: #0e0e0e;

$primary-hover: #eb3e48;
$primary-light-hover: #ff444f3d;
$white-hover: #d6dadb;
$black-hover: #323738;
$white-outline-hover: #ffffff14;
$black-outline-hover: rgba(0, 0, 0, 0.08);

.deriv-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 0.8rem;
    cursor: pointer;
    transition: ease-in-out 0.3s;

    &:disabled {
        opacity: 0.32;
        cursor: not-allowed;
    }

    &__size {
        &--sm {
            height: 2.4rem;
            border-width: 1px;
            padding: 0.3rem 0.8rem;
        }
        &--md {
            height: 3.2rem;
            border-width: 2px;
            padding: 0.6rem 1.6rem;
        }
        &--lg {
            height: 4rem;
            border-width: 3px;
            padding: 1rem 1.6rem;
        }
    }

    &__variant {
        &--contained {
            border: none;
            &.deriv-button__color--primary {
                background-color: $primary;
                span {
                    color: $white;
                }
                &:hover:not(:disabled) {
                    background-color: $primary-hover;
                }
            }
            &.deriv-button__color--primary-light {
                background-color: $primary-light;
                span {
                    color: $primary;
                }
                &:hover:not(:disabled) {
                    background-color: $primary-light-hover;
                }
            }
            &.deriv-button__color--white {
                background-color: $white;
                span {
                    color: $black;
                }
                &:hover:not(:disabled) {
                    background-color: $white-hover;
                }
            }
            &.deriv-button__color--black {
                background-color: $black;
                span {
                    color: $white;
                }
                &:hover:not(:disabled) {
                    background-color: $black-hover;
                }
            }
        }
        &--outlined {
            border-style: solid;
            background: none;
            &.deriv-button__color--primary {
                border-color: $primary;
                span {
                    color: $primary;
                }
                &:hover:not(:disabled) {
                    background: $primary;
                    span {
                        color: $white;
                    }
                }
            }
            &.deriv-button__color--primary-light {
                border-color: $primary;
                span {
                    color: $primary;
                }
                &:hover:not(:disabled) {
                    background: $primary-light;
                }
            }
            &.deriv-button__color--white {
                border-color: $white;
                span {
                    color: $white;
                }
                &:hover:not(:disabled) {
                    background: $white-outline-hover;
                }
            }
            &.deriv-button__color--black {
                border-color: #999;
                span {
                    color: #333;
                }
                &:hover:not(:disabled) {
                    background: $black-outline-hover;
                }
            }
        }
        &--ghost {
            border: none;
            background: none;
            &.deriv-button__color--primary {
                span {
                    color: $primary;
                }
                &:hover:not(:disabled) {
                    background-color: #eb3e48;
                    span {
                        color: $white;
                    }
                }
            }
            &.deriv-button__color--primary-light {
                span {
                    color: $primary;
                }
                &:hover:not(:disabled) {
                    background-color: #ff444f3d;
                }
            }
            &.deriv-button__color--white {
                span {
                    color: $white;
                }
                &:hover:not(:disabled) {
                    background-color: $white-outline-hover;
                }
            }
            &.deriv-button__color--black {
                span {
                    color: $black;
                }
                &:hover:not(:disabled) {
                    background-color: $black;
                    span {
                        color: $white;
                    }
                }
            }
        }
    }

    &__rounded {
        &--sm {
            border-radius: 4px;
        }
        &--md {
            border-radius: 8px;
        }
        &--lg {
            border-radius: 24px;
        }
    }

    &__full-width {
        width: 100%;
    }

    &__loader {
        .derivs-loader {
            width: 50px;
            height: 12px;

            &__element {
                width: 3px;
                height: 12px;
            }
        }
    }

    &.deriv-button__disable-hover {
        pointer-events: none;
        cursor: default;

        &:hover {
            background-color: inherit;
            color: inherit;
        }
    }
}
