.deriv-account-switcher {
    &__button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 16px;
        position: relative;
        cursor: pointer;
        height: 100%;

        &:hover{
            background-color: var(--color-grey-1, #f4f4f4);
        }
    }

    &__container {
        position: absolute;
        top: 55px;
        right: 0;
        border-radius: 4px;
        width: 336px;
    }
}

.test{
    display: flex;
    gap: 8px;
}
