.deriv-account-switcher {
    &__button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 16px;
        position: relative;
        height: 100%;
        &:hover {
            cursor: pointer;
            background-color: var(--du-general-hover, #e6e9e9);
        }
    }

    &__currency-icon {
        display: flex;
    }

    &__balance {
        font-size: 16px;
        display: flex;
        font-weight: 700;
        gap: 4px;
        color: var(--du-text-profit-success, #4bb4b3);
        @include mobile {
            font-size: 14px;
        }
    }

    &__container {
        position: absolute;
        top: 55px;
        right: 0;
        border-radius: 4px;
        width: 336px;

        &--mobile {
            width: 90vw;
            position: unset;
            min-height: 400px;
            height: auto;
            border-radius: 4px;
        }
    }
}

.ReactModal__Overlay {
    opacity: 0;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}
