.languages-body {
    display: flex;
    flex-wrap: wrap;
    &__item {
        display: flex;
        flex: 0 0 50%;
        padding: 8px;
        justify-content: center;
        align-items: center;
        
        &-button {
            flex-direction: column;
            height: 100%;
            span{
                color: black !important;
            }
        }
    }
}
