@keyframes openContextMenu {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes closeContextMenu {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.deriv-platform-switcher {
    height: 100%;

    &__button {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &-chevron {
            margin-left: 13px;
            margin-top: 2px;
            transition: transform 0.3s ease;

            &__expanded {
                transform: rotate(180deg);
            }
        }

        &:hover {
            background: var(--du-general-hover, #e6e9e9);

            @include mobile {
                background: transparent;
            }
        }
    }

    &__item {
        width: 320px;
        border-radius: 8px;
        padding: 24px 16px;
        margin: 24px 16px 16px;
        height: 143px;

        @include mobile {
            width: 263px;
            height: unset;
            padding: 14px 16px;
            margin: 14px 16px;
        }

        &-text {
            margin-top: 8px;

            @include mobile {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &:hover {
            background: var(--du-general-hover, #e6e9e9);
        }

        &--active {
            border: 2px solid var(--du-brand-secondary, #85acb0);

            &:hover {
                background: transparent;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 47px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        background: rgba(0, 0, 0, 0.72);
        animation-name: openContextMenu;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;

        &-fadeout {
            background-color: transparent;
            animation-name: closeContextMenu;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        @include mobile {
            display: none;
        }
    }

    &__context-menu {
        width: 100%;
        left: 0;
        top: 47px;
        background: var(--du-general-main-2, #fff);

        @include mobile {
            height: 100%;
            top: 123px;
        }

        &__wrapper {
            padding-bottom: 24px;
            background: var(--du-general-main-2, #fff);
        }

        &__items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @include mobile {
                flex-direction: column;
            }
        }

        &__link {
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            line-height: 15px;
            margin-top: 16px;
            color: var(--du-status-danger, #ec3f3f);
        }
    }
}
