@keyframes openContextMenu {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes closeContextMenu {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

.deriv-platform-switcher {
    height: 100%;

    &__button {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &-chevron {
            margin-left: 8px;
            transition: transform 0.3s ease;

            &__expanded {
                transform: rotate(180deg);
            }
        }

        &:hover {
            background: var(--du-general-hover, #e6e9e9);

            @media (max-width: 600px) {
                background: transparent;
            }
        }
    }

    &__item {
        padding: 16px;
        border-radius: 8px;
        width: 360px;
        height: 132px;

        @media (max-width: 600px) {
            width: 263px;
        }

        &-text {
            margin-top: 8px;
        }

        &:hover {
            background: var(--du-general-hover, #e6e9e9);
        }

        &--active {
            border: 2px solid var(--du-brand-secondary, #85acb0);

            &:hover {
                background: transparent;
            }
        }
    }

    &__overlay {
        position: absolute;
        top: 47px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999;
        background: rgba(0, 0, 0, 0.72);
        animation-name: openContextMenu;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;

        &-fadeout {
            background-color: transparent;
            animation-name: closeContextMenu;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }

        @media (max-width: 600px) {
            display: none;
        }
    }

    &__context-menu {
        width: 100%;
        left: 0;
        top: 47px;
        background: var(--du-general-main-2, #fff);

        @media (max-width: 600px) {
            height: 100%;
            top: 123px;
        }

        &__wrapper {
            padding: 32px;
            background: var(--du-general-main-2, #fff);

            @media (max-width: 600px) {
                padding: 16px;
                padding-top: 9px;
            }
        }

        &__items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 32px;

            @media (max-width: 600px) {
                flex-direction: column;
                gap: 16px;
            }
        }

        &__link {
            text-align: center;
            padding: 10px 0;
            margin-top: 8px;
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            color: var(--du-brand-red-coral, #ff444f);

            @media (max-width: 600px) {
                margin-top: 16px;
            }
        }
    }
}
