.languages-modal {
    width: 616px;
    &__body {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 1rem;
        margin: 16px auto;
        &-button {
            height: auto;
            width: 133px;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 12px 8px;
            &-selected {
                border-radius: 4px;
                border: 1px solid var(--brand-blue, #85acb0);
            }

            span {
                color: #000 !important;
            }
        }
    }
}
