@keyframes openSubmenu {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes closeSubmenu {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.submenu {
    background-color: #fff;
    position: absolute;
    inset: 0;
    will-change: transform;
    transform: translateX(-100%);
    animation-name: openSubmenu;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    overflow: hidden;

    &_button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &_wrapper {
        display: flex;
        align-items: center;
    }

    &_exit {
        animation: closeDrawer 0.3s;
    }
}
