.deriv-footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--du-general-section-1, #f2f3f4);
    box-shadow: 0px 1px 0px 0px #f2f3f4 inset;
    background: var(--du-brand-white, #fff);
}
