@import "../abstracts/variables";
@import "../abstracts/typography";

:host,
:root {
    // Text Sizes
    --du-text-size-3xs: #{$font-size-3xs};
    --du-text-size-2xs: #{$font-size-2xs};
    --du-text-size-xs: #{$font-size-xs};
    --du-text-size-sm: #{$font-size-sm};
    --du-text-size-default: #{$font-size-default};
    --du-text-size-md: #{$font-size-md};
    --du-text-size-lg: #{$font-size-lg};
    --du-text-size-xl: #{$font-size-xl};
    --du-text-size-2xl: #{$font-size-2xl};

    //Line Height
    --du-text-lh-2xs: #{$line-height-2xs};
    --du-text-lh-xs: #{$line-height-xs};
    --du-text-lh-sm: #{$line-height-sm};
    --du-text-lh-md: #{$line-height-md};
    --du-text-lh-lg: #{$line-height-lg};
    --du-text-lh-xl: #{$line-height-xl};
    --du-text-lh-2xl: #{$line-height-2xl};

    //Text Weight
    --du-text-weight-light: #{$font-weight-light};
    --du-text-weight-normal: #{$font-weight-normal};
    --du-text-weight-semibold: #{$font-weight-semibold};
    --du-text-weight-bold: #{$font-weight-bold};

    //Text Align
    --du-text-align-left: start;
    --du-text-align-right: right;
    --du-text-align-center: center;

    // Brand Colors
    --du-brand-white: #{$color-white};
    --du-brand-dark-gray: #{$color-black};
    --du-brand-red-coral: #{$color-red};
    --du-brand-orange: #{$color-orange};
    --du-brand-secondary: #{$color-green};

    // Wallet Gradient Background
    --du-deriv-airtm: #{$gradient-airtm};
    --du-deriv-banxa: #{$gradient-banxa};
    --du-deriv-bitcoin: #{$gradient-bitcoin};
    --du-deriv-credit: #{$gradient-credit};
    --du-deriv-dp2p: #{$gradient-dp2p};
    --du-deriv-fasapay: #{$gradient-fasapay};
    --du-deriv-jeton: #{$gradient-jeton};
    --du-deriv-mastercard: #{$gradient-mastercard};
    --du-deriv-neteller: #{$gradient-neteller};
    --du-deriv-paylivre: #{$gradient-paylivre};
    --du-deriv-paysafe: #{$gradient-paysafe};
    --du-deriv-perfectmoney: #{gradient-perfectmoney};
    --du-deriv-skrill: #{$gradient-skrill};
    --du-deriv-sticpay: #{$gradient-sticpay};
    --du-deriv-virtual: #{$gradient-virtual};
    --du-deriv-visa: #{$gradient-visa};
    --du-deriv-webmoney: #{$gradient-webmoney};

    // App Cards Gradient Background
    --du-app-card-virtual: #{$gradient-virtual};
    --du-app-card-virtual-swap-free: #{$gradient-virtual-swap-free};

    .theme--light {
        // General
        --du-general-main-1: #{$color-white};
        --du-general-main-2: #{$color-white};
        --du-general-main-3: #{$color-gray-1};
        --du-general-main-4: #{$alpha-color-white-4};
        --du-general-section-1: #{$color-gray-2};
        --du-general-section-2: #{$color-gray-2};
        --du-general-section-3: #{$color-gray-11};
        --du-general-section-4: #{$color-gray-12};
        --du-general-section-5: #{$color-gray-2};
        --du-general-section-6: #{$color-gray-2};
        --du-general-disabled: #{$color-gray-3};
        --du-general-hover: #{$color-gray-4};
        --du-general-active: #{$color-gray-5};
        // Icons and Texts
        --du-text-general: #{$color-black-1};
        --du-text-primary: #{$color-gray-1};
        --du-text-less-prominent: #{$color-gray-1};
        --du-text-prominent: #{$color-black-1};
        --du-text-disabled: #{$color-gray-1};
        --du-text-disabled-1: #{$color-gray-6};
        --du-text-loss-danger: #{$color-red-1};
        --du-text-profit-success: #{$color-green-1};
        --du-text-warning: #{$color-yellow};
        --du-text-red: #{$color-red};
        --du-text-green: #{$color-green-6};
        --du-text-blue: #{$color-blue-3};
        --du-text-info-blue: #{$color-blue};
        --du-text-black: #{$color-black-7};
        --du-text-orange: #{$color-orange-1};
        --du-system-dark-2-general-text: #{$color-gray};
        --du-text-info-blue-background: #{$color-blue-5};
        --du-text-colored-background: #{$color-white};
        --du-icon-light-background: #{$color-black-9};
        --du-icon-dark-background: #{$color-white};
        --du-icon-gray-background: #{$color-gray-2};
        --du-icon-black-plus: #{$color-black-7};
        --du-text-status-info-blue: #{$color-blue};
        --du-text-hint: #{$color-black-1};
        --du-text-white: #{$color-white};
        // Purchase
        --du-purchase-main-1: #{$color-green-1};
        --du-purchase-section-1: #{$color-green-2};
        --du-purchase-main-2: #{$color-red-1};
        --du-purchase-section-2: #{$color-red-4};
        --du-purchase-disabled-main: #{$color-gray-3};
        --du-purchase-disabled-section: #{$color-gray-4};
        // Buttons
        --du-button-primary-default: var(--du-brand-red-coral);
        --du-button-secondary-default: #{$color-gray-1};
        --du-button-tertiary-default: transparent;
        --du-button-primary-light-default: #{$alpha-color-red-2};
        --du-button-primary-hover: #{$color-red-5};
        --du-button-secondary-hover: #{$alpha-color-black-3};
        --du-button-tertiary-hover: #{$alpha-color-red-1};
        --du-button-primary-light-hover: #{$alpha-color-red-3};
        --du-button-toggle-primary: #{$color-blue-3};
        --du-button-toggle-secondary: #{$color-gray-5};
        --du-button-toggle-alternate: #{$color-white};
        // Overlay
        --du-overlay-outside-dialog: #{$alpha-color-black-1};
        --du-overlay-inside-dialog: #{$alpha-color-white-1};
        // Shadow
        --du-shadow-menu: #{$alpha-color-black-4};
        --du-shadow-menu-2: #{$alpha-color-black-4};
        --du-shadow-drop: #{$alpha-color-black-3};
        --du-shadow-box: #{$COLOR_LIGHT_BLACK_2};
        // States
        --du-state-normal: #{$color-white};
        --du-state-hover: #{$color-gray-4};
        --du-state-active: #{$color-gray-5};
        --du-state-disabled: #{$color-gray-3};
        --du-checkbox-disabled-gray: #{$color-gray-6};
        --du-sidebar-tab: #{$color-gray-6};
        // Border
        --du-border-normal: #{$color-gray-5};
        --du-border-normal-1: #{$color-gray-5};
        --du-border-normal-2: #{$color-gray-5};
        --du-border-normal-3: #{$color-gray-6};
        --du-border-hover: #{$color-gray-1};
        --du-border-hover-1: #{$color-black-9};
        --du-border-active: var(--du-brand-secondary);
        --du-border-disabled: #{$color-gray-3};
        --du-border-divider: #{$color-gray-2};
        // Fill
        --du-fill-normal: #{$color-white};
        --du-fill-normal-1: #{$color-gray};
        --du-fill-hover: #{$color-gray-1};
        --du-fill-active: var(--du-brand-secondary);
        --du-fill-disabled: #{$color-gray-3};
        // Status
        --du-status-default: #{$color-gray-3};
        --du-status-adjustment: #{$color-gray-1};
        --du-status-danger: #{$color-red-1};
        --du-status-success: #{$color-green-1};
        --du-status-warning: #{$color-yellow};
        --du-status-warning-transparent: #{$alpha-color-yellow-1};
        --du-status-transfer: #{$color-orange};
        --du-status-info: #{$color-blue};
        --du-status-colored-background: #{$color-white};
        --du-status-alert-background: #{$color-yellow-3};
        // Dashboard
        --du-dashboard-swap-free: #{$gradient-color-black-3};
        --du-dashboard-app: #{$gradient-color-black-4};
        // Payment methods
        --du-payment-skrill: #{$gradient-color-purple};
        --du-payment-visa: #{$gradient-color-blue};
        --du-payment-mastercard: #{$gradient-color-orange};
        --du-payment-credit-and-debit: #{$gradient-color-black-2};
        --du-payment-bitcoin: #{$gradient-color-orange-2};
        --du-payment-usd-coin: #{$gradient-color-blue-2};
        --du-payment-neteller: #{$gradient-color-green-3};
        --du-payment-webmoney: #{$gradient-color-blue-3};
        --du-payment-jeton: #{$gradient-color-orange-3};
        --du-payment-sticpay: #{$gradient-color-orange-4};
        --du-payment-airtm: #{$gradient-color-blue-4};
        --du-payment-dp2p: #{$gradient-color-red-3};
        --du-payment-deriv: #{$gradient-color-red-4};
        // Transparentize
        --du-transparent-success: #{$alpha-color-green-1};
        --du-transparent-success-secondary: #{$alpha-color-green-3};
        --du-transparent-blue-secondary: #{$alpha-color-blue-4};
        --du-transparent-info: #{$alpha-color-blue-1};
        --du-transparent-hint: #{$alpha-color-blue-3};
        --du-transparent-danger: #{$alpha-color-red-2};
        --du-transparent-danger-secondary: #{$alpha-color-red-4};
        --du-transparent-correct-message: #{$color-green-5};
        --du-transparent-fake-message: #{$color-red-6};
        --du-transparent-warning-secondary: #{$alpha-color-yellow-2};
        // Gradient
        --du-gradient-success: #{$gradient-color-green-1};
        --du-gradient-danger: #{$gradient-color-red-1};
        --du-contract-gradient-danger: #{$contract-gradient-color-red-1};
        --du-gradient-right-edge: #{$gradient-color-white};
        --du-gradient-blue: #{$gradient-color-blue-5};
        --du-gradient-gold: #{$gradient-color-gold};
        --du-gradient-green: #{$gradient-color-green-4};
        // Badge
        --du-badge-white: #{$color-white};
        --du-badge-blue: #{$color-blue-4};
        --du-badge-blue-secondary: #{$color-blue-11};
        --du-badge-light-blue: #{$color-blue-4};
        --du-badge-violet: #{$color-blue-2};
        --du-badge-success: #{$color-green-1};
        --du-badge-success-secondary: #{$color-green-9};
        --du-badge-warning: #{$color-yellow};
        --du-badge-warning-secondary: #{$color-yellow-4};
        --du-badge-danger: #{$color-red-1};
        --du-badge-danger-secondary: #{$color-red-12};
        --du-badge-purple: #{$color-purple};
        //TradersHub Banner
        --du-traders-hub-banner-border-color: #{$color-gray-4};
        // wallets
        --du-derivs-banner-ready-bg-color: #{$ready-banner-bg-color};
        --du-derivs-banner-ready-tick-bg-color: #{$ready-banner-tick-bg-color};
        --du-derivs-banner-border-color: #{$color-gray-4};
        --du-derivs-banner-dot-color: #{$color-gray-6};
        --du-derivs-banner-active-dot-color: #{$color-red};
        --du-derivs-card-active-gradient-background: #{$gradient-color-black-5};
        --du-deriv-demo-bg-color: #{$deriv-demo-bg-color};
        --du-deriv-demo-divider-color: #{$deriv-demo-divider-color};
        --du-deriv-eu-disclaimer: #{$color-gray-4};
        --du-deriv-box-shadow: #{$deriv-box-shadow};
        // Demo view
        --du-demo-text-color-1: #{$color-gray};
        --du-demo-text-color-2: #{$color-white};
        // Header
        --du-header-background-mt5: #{$color-blue-8};
        --du-header-background-others: #{$color-green-7};
    }
    .theme--dark {
        // General
        --du-general-main-1: #{$color-black};
        --du-general-main-2: #{$color-black-3};
        --du-general-main-3: #{$color-black-4};
        --du-general-main-4: #{$alpha-color-black-7};
        --du-general-section-1: #{$color-black-3};
        --du-general-section-2: #{$color-black};
        --du-general-section-3: #{$color-black-5};
        --du-general-section-4: #{$color-black-5};
        --du-general-section-5: #{$color-black-5};
        --du-general-section-6: #{$color-gray-7};
        --du-general-disabled: #{$color-black-4};
        --du-general-hover: #{$color-black-5};
        --du-general-active: #{$color-black-8};
        // Icons and Texts
        --du-text-prominent: #{$color-white};
        --du-text-general: #{$color-gray};
        --du-text-less-prominent: #{$color-gray-7};
        --du-text-primary: #{$color-gray-1};
        --du-text-disabled: #{$color-black-6};
        --du-text-disabled-1: #{$color-black-6};
        --du-text-profit-success: #{$color-green-3};
        --du-text-loss-danger: #{$color-red-2};
        --du-text-red: #{$color-red};
        --du-text-colored-background: #{$color-white};
        --du-text-info-blue: #{$color-blue-6};
        --du-text-info-blue-background: #{$color-blue-7};
        --du-text-status-info-blue: #{$color-blue};
        --du-text-hint: #{$color-gray};
        --du-text-white: #{$color-white};
        --du-icon-light-background: #{$color-black-9};
        --du-icon-dark-background: #{$color-white};
        --du-icon-gray-background: #{$color-black-1};
        --du-icon-black-plus: #{$color-white};
        // Purchase
        --du-purchase-main-1: #{$color-green-3};
        --du-purchase-section-1: #{$color-green-4};
        --du-purchase-main-2: #{$color-red-2};
        --du-purchase-section-2: #{$color-red-3};
        --du-purchase-disabled-main: #{$color-black-4};
        --du-purchase-disabled-section: #{$color-black};
        --du-button-primary-default: var(--du-brand-red-coral);
        --du-button-secondary-default: #{$color-gray-7};
        --du-button-tertiary-default: transparent;
        --du-button-primary-light-default: #{$alpha-color-red-2};
        --du-button-primary-hover: #{$color-red-5};
        --du-button-secondary-hover: #{$alpha-color-white-3};
        --du-button-tertiary-hover: #{$alpha-color-red-1};
        --du-button-primary-light-hover: #{$alpha-color-red-3};
        --du-button-toggle-primary: #{$color-blue-3};
        --du-button-toggle-secondary: #{$color-black-8};
        --du-button-toggle-alternate: #{$color-black-8};
        // Overlay
        --du-overlay-outside-dialog: #{$alpha-color-black-1};
        --du-overlay-inside-dialog: #{$alpha-color-black-2};
        // Shadow
        --du-shadow-menu: #{$alpha-color-black-5};
        --du-shadow-menu-2: #{$alpha-color-black-1};
        --du-shadow-drop: #{$alpha-color-black-6};
        --du-shadow-box: #{$COLOR_DARK_GRAY_3};
        // States
        --du-state-normal: #{$color-black};
        --du-state-hover: #{$color-black-5};
        --du-state-active: #{$color-black-8};
        --du-state-disabled: #{$color-black-4};
        --du-checkbox-disabled-gray: #{$color-gray-6};
        --du-sidebar-tab: #{$color-gray-7};
        // Border
        --du-border-normal: #{$color-black-8};
        --du-border-normal-1: #{$color-gray-5};
        --du-border-normal-2: #{$color-gray-1};
        --du-border-normal-3: #{$color-gray-7};
        --du-border-hover: #{$color-gray-7};
        --du-border-hover-1: #{$color-black-9};
        --du-border-active: var(--du-brand-secondary);
        --du-border-disabled: #{$color-black-4};
        --du-border-divider: #{$color-gray-13};
        // Fill
        --du-fill-normal: #{$color-black};
        --du-fill-normal-1: #{$color-black-1};
        --du-fill-hover: #{$color-gray-7};
        --du-fill-active: var(--du-brand-secondary);
        --du-fill-disabled: #{$color-black-4};
        // Status
        --du-status-default: #{$color-gray-3};
        --du-status-adjustment: #{$color-gray-1};
        --du-status-danger: #{$color-red-2};
        --du-status-warning: #{$color-yellow};
        --du-status-warning-transparent: #{$alpha-color-yellow-1};
        --du-status-success: #{$color-green-3};
        --du-status-transfer: #{$color-orange};
        --du-status-info: #{$color-blue};
        --du-status-colored-background: #{$color-white};
        --du-status-alert-background: #{$color-yellow-3};
        // Transparentize
        --du-transparent-success: #{$alpha-color-green-2};
        --du-transparent-success-secondary: #{$alpha-color-green-3};
        --du-transparent-blue-secondary: #{$alpha-color-blue-4};
        --du-transparent-info: #{$alpha-color-blue-1};
        --du-transparent-hint: #{$alpha-color-blue-1};
        --du-transparent-danger: #{$alpha-color-red-2};
        --du-transparent-danger-secondary: #{$alpha-color-red-4};
        --du-transparent-correct-message: #{$color-green-5};
        --du-transparent-fake-message: #{$color-red-6};
        --du-transparent-warning-secondary: #{$alpha-color-yellow-2};
        // Gradient
        --du-gradient-success: #{$gradient-color-green-2};
        --du-gradient-danger: #{$gradient-color-red-2};
        --du-contract-gradient-danger: #{$contract-gradient-color-red-2};
        --du-gradient-right-edge: #{$gradient-color-black};
        --du-gradient-blue: #{$gradient-color-blue-5};
        --du-gradient-gold: #{$gradient-color-gold};
        --du-gradient-green: #{$gradient-color-green-4};
        // Badge
        --du-badge-white: #{$color-white};
        --du-badge-blue: #{$color-blue-4};
        --du-badge-blue-secondary: #{$color-blue-11};
        --du-badge-light-blue: #{$color-blue-9};
        --du-badge-violet: #{$color-blue-2};
        --du-badge-success: #{$color-green-3};
        --du-badge-success-secondary: #{$color-green-9};
        --du-badge-warning: #{$color-yellow};
        --du-badge-warning-secondary: #{$color-yellow-4};
        --du-badge-danger: #{$color-red-2};
        --du-badge-danger-secondary: #{$color-red-12};
        --du-badge-purple: #{$color-purple-1};
        //TradersHub Banner
        --du-traders-hub-banner-border-color: #{$color-black-5};
        // Wallets
        --du-derivs-banner-ready-bg-color: #{$ready-banner-bg-color};
        --du-derivs-banner-ready-tick-bg-color: #{$ready-banner-tick-bg-color};
        --du-derivs-banner-border-color: #{$color-gray-4};
        --du-derivs-banner-dot-color: #{$color-gray-6};
        --du-derivs-banner-active-dot-color: #{$color-red};
        --du-derivs-card-active-gradient-background: #{$gradient-color-white-2};
        --du-deriv-demo-bg-color: #{$deriv-dark-demo-bg-color};
        --du-deriv-demo-divider-color: #{$color-black-8};
        --du-deriv-eu-disclaimer: #{$color-gray-4};
        --du-deriv-box-shadow: #{$deriv-box-shadow};
        // Demo view
        --du-demo-text-color-1: #{$color-black-1};
        --du-demo-text-color-2: #{$color-black-1};
        // Header
        --du-header-background-mt5: #{$color-blue-8};
        --du-header-background-others: #{$color-green-7};
    }
}
